.dayContainer {
	margin: 1rem 0.5rem;
	padding: 0.5rem 1rem;
	min-width: 6rem;
	text-align: center;
	border: 1px solid #ededed;
	box-shadow: 2px 2px 3px 0px #ccc;
}

.dayName {
	padding: 0.5rem;
	border-bottom: 1px solid #ccc;
}

.weatherIcon {
	padding: 0.5rem;
	min-height: 4rem;
	display: flex;
	justify-content: center;
	align-items: center;
	border-bottom: 1px solid #ccc;
}

.weatherIcon:hover {
	cursor: pointer;
}

.weatherIcon img {
	width: 4rem;
	height: 100%;
}

.dayTemperature {
	padding: 0.5rem;
}

.minTemperature {
	margin-right: 0.3rem;
	color: dodgerblue;
}

.maxTemperature {
	margin-left: 0.3rem;
	color: tomato;
}

.additionalInfo {
	padding: 0.5rem;
	display: flex;
	flex-direction: column;
	border-top: 1px solid #ccc;
}

.additionalInfo div {
	padding: 0.5rem;
}
