.dayContainer {
    margin: 0 1rem;
    padding: 0.5rem 1rem;
    text-align: center;
    box-shadow: 0 2px 3px #ccc;
}

.dayName {
    padding: 0.5rem;
    border-bottom: 1px solid #ccc;
}

.weatherIcon {
    border-bottom: 1px solid #ccc;
}

.dayTemperature {
    padding: 0.5rem;
}

.minTemperature {
    margin-right: 0.3rem;
    color: dodgerblue;
}

.maxTemperature {
    margin-left: 0.3rem;
    color: tomato;
}