.navigation {
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	list-style-type: none;
	background-color: blueviolet;
}

.navigation .headerItem {
	padding: 1rem;
}

.navigation .headerItem a {
	color: #fff;
	text-decoration: none;
}

.navigation .headerItem a.active {
	color: #000;
}

.navigation .headerItem a:hover {
	cursor: pointer;
	color: #000;
}
