.navigation {
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	list-style-type: none;
	background-color: blueviolet;
	color: #fff;
}

.navigation .headerItem {
	padding: 1rem;
}

.navigation .headerItem:hover {
	cursor: pointer;
	color: #000;
}
